@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Galmuri14";
  font-family: "Galmuri11";
}

#root {
  width: 100vw;
  height: 100vh;
}
#root > div:nth-child(1) {
  width: 100vw;
  height: 100vh;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/PlanetBg.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#root > div:nth-child(2) {
  width: 100vw;
  height: 100vh;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/HillBg.jpg") no-repeat center;
  background-size: cover;
}
#root > div:nth-child(2) > #slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}
#root > div:nth-child(2) > #slider > button {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background-color: goldenrod;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > button:nth-child(1) {
  right: 1%;
}
#root > div:nth-child(2) > #slider > button:nth-child(2) {
  left: 0.1%;
}
#root > div:nth-child(2) > #slider > ul {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
#root > div:nth-child(2) > #slider > ul > li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1920px;
  text-align: center;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div {
  width: 1500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/boardPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(1) {
  width: 350px;
  height: 500px;
  border: 2px solid white;
  border-radius: 20%;
  margin-right: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 600px;
  border: 2px solid white;
  border-radius: 15%;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > p {
  width: 600px;
  height: 50px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(3) > div {
  width: 2000px;
  height: 400px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/Project_schedule.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > p {
  font-weight: bold;
  font-size: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div {
  width: 1450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(1) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_green.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(1) > p {
  margin-top: 9rem;
  line-height: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(2) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_yellow.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(2) > p {
  margin-top: 6rem;
  margin-left: 9rem;
  line-height: 1.5rem;
  text-align: left;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(3) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_pink2.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(3) > p {
  margin-top: 7rem;
  margin-left: 5.7rem;
  line-height: 2.2rem;
  text-align: left;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) > div div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/randomPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) > div div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) > div div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) > div {
  width: 1500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) > div div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/signInPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) > div div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) > div div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) > div {
  width: 1500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) > div div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/myInfoPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) > div div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) > div div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) > div {
  width: 1500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) > div div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/boardPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) > div div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) > div div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(9) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(9) > div:nth-child(1) {
  width: 350px;
  height: 500px;
  border: 2px solid white;
  border-radius: 20%;
  margin-right: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(9) > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 600px;
  border: 2px solid white;
  border-radius: 15%;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(9) > div:nth-child(2) > p {
  width: 600px;
  height: 50px;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 2px;
}/*# sourceMappingURL=Planet.css.map */