@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Galmuri9";
}

#root {
  width: 99vw;
  height: 100vh;
}
#root > div:nth-child(1) {
  width: 99vw;
  height: 100vh;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/PlanetBg.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}
#root > div:nth-child(2) {
  width: 99vw;
  height: 100vh;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/HillBg.jpg") no-repeat center;
  background-size: cover;
}
#root > div:nth-child(2) > #slider {
  width: 99vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}
#root > div:nth-child(2) > #slider > button {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  border: none;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > button:nth-child(1) {
  width: 150px;
  height: 150px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/nextButton.png") no-repeat center;
  background-size: contain;
  right: 1%;
}
#root > div:nth-child(2) > #slider > button:nth-child(2) {
  width: 150px;
  height: 150px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/preButton.png") no-repeat center;
  background-size: contain;
  left: 0.1%;
}
#root > div:nth-child(2) > #slider > ul {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
#root > div:nth-child(2) > #slider > ul > li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1920px;
  text-align: center;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(1) {
  width: 1000px;
  height: 90px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/traffic_appendix.png") no-repeat;
  background-size: contain;
  margin-left: 2rem;
  margin-top: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 1000px;
  height: 400px;
  margin-left: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > div {
  width: 40px;
  height: 40px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/octicon_mark-github-16.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > span:nth-child(3) {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) > div {
  width: 40px;
  height: 40px;
  background: url(" https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_google-drive.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) > span:nth-child(3) {
  width: 700px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  margin-left: 11px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(3) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(3) > div {
  width: 40px;
  height: 40px;
  background: url(" https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_google-drive.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(3) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(3) > span:nth-child(3) {
  width: 700px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  margin-left: 11px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(4) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(4) > div {
  width: 40px;
  height: 40px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_youtube-icon.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(4) > span:nth-child(2) {
  width: 120px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(1) > div > div:nth-child(2) > div:nth-child(4) > span:nth-child(3) {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  padding-right: 12px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(1) {
  width: 400px;
  height: 500px;
  border: 2px solid white;
  border-radius: 20%;
  margin-right: 3rem;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/me.png") no-repeat center;
  background-size: cover;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 600px;
  border: 2px solid white;
  border-radius: 15%;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  width: 550px;
  height: 80px;
  margin-top: 5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > div:nth-child(1) > p {
  font-size: 1.5rem;
  text-align: center;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  width: 550px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
  width: 40px;
  height: 40px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/github+1.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > div:nth-child(2) > p {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 22px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
  width: 550px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5rem;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > div:nth-child(3) > div {
  width: 60px;
  height: 60px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_jekyll.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(2) > div:nth-child(2) > div:nth-child(3) > p {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(3) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(3) > div > div {
  width: 2000px;
  height: 400px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/Project_schedule.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > p {
  font-weight: bold;
  font-size: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div {
  width: 1450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(1) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_green.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(1) > p {
  font-size: 1.5rem;
  margin-top: 9rem;
  line-height: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(2) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_yellow.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(2) > p {
  font-size: 1.1rem;
  margin-top: 6.8rem;
  margin-left: 5.5rem;
  line-height: 1.4rem;
  text-align: left;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(3) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_pink2.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(4) > div > div > div:nth-child(3) > p {
  margin-top: 7rem;
  margin-left: 5.3rem;
  line-height: 2.2rem;
  text-align: left;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) > div > div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/randomPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) > div > div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(5) > div > div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) > div {
  width: 1500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) > div div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/signInPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) > div div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(6) > div div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) > div {
  width: 1500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) > div div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/myInfoPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) > div div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(7) > div div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) > div {
  width: 1500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) > div div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/boardPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) > div div:nth-child(2) {
  width: 1400px;
  height: 140px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(8) > div div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(9) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(9) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/movei_review.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(10) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(10) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(10) > div > div:nth-child(1) {
  width: 1000px;
  height: 90px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/appendix.png") no-repeat;
  background-size: contain;
  margin-left: 2rem;
  margin-bottom: 5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(10) > div > div:nth-child(2) {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15rem;
  margin-left: 2rem;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(10) > div > div:nth-child(2) > div {
  width: 40px;
  height: 40px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/octicon_mark-github-16.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(10) > div > div:nth-child(2) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 1rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(10) > div > div:nth-child(2) > span:nth-child(3) {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 1rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div > p {
  font-weight: bold;
  font-size: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div > div {
  width: 1450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div > div > div:nth-child(1) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_green.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div > div > div:nth-child(1) > p {
  font-size: 1.5rem;
  margin-top: 9rem;
  line-height: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div > div > div:nth-child(2) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_yellow.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div > div > div:nth-child(2) > p {
  font-size: 1.1rem;
  margin-top: 8rem;
  margin-left: 6rem;
  line-height: 1.4rem;
  text-align: left;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div > div > div:nth-child(3) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_pink2.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(11) > div > div > div:nth-child(3) > p {
  margin-top: 7rem;
  margin-left: 5.3rem;
  line-height: 2.2rem;
  text-align: left;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(12) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(12) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(12) > div > div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/stock-main.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(12) > div > div:nth-child(2) {
  width: 1400px;
  height: 150px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(12) > div > div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(13) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(13) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(13) > div > div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/tradingVolume.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(13) > div > div:nth-child(2) {
  width: 1400px;
  height: 150px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(13) > div > div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(14) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(14) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(14) > div > div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/searchPage.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(14) > div > div:nth-child(2) {
  width: 1400px;
  height: 130px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(14) > div > div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(15) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(15) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/stock_review.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(1) {
  width: 1000px;
  height: 90px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/stock_appendix.png") no-repeat;
  background-size: contain;
  margin-left: 2rem;
  margin-top: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 1000px;
  height: 400px;
  margin-left: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(1) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(1) > div {
  width: 40px;
  height: 40px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/octicon_mark-github-16.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(1) > span:nth-child(3) {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(2) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(2) > div {
  width: 40px;
  height: 40px;
  background: url(" https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_google-drive.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(2) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(2) > span:nth-child(3) {
  width: 700px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  margin-left: 11px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(3) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(3) > div {
  width: 40px;
  height: 40px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_youtube-icon.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(3) > span:nth-child(2) {
  width: 120px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(16) > div > div:nth-child(2) > div:nth-child(3) > span:nth-child(3) {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  padding-right: 12px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div > p {
  font-weight: bold;
  font-size: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div > div {
  width: 1450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div > div > div:nth-child(1) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_green.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div > div > div:nth-child(1) > p {
  font-size: 1.5rem;
  margin-top: 9rem;
  line-height: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div > div > div:nth-child(2) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_yellow.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div > div > div:nth-child(2) > p {
  font-size: 1.1rem;
  margin-top: 7.5rem;
  margin-left: 6rem;
  line-height: 1.4rem;
  text-align: left;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div > div > div:nth-child(3) {
  width: 483.3333333333px;
  height: 440px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/memo_pink2.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(17) > div > div > div:nth-child(3) > p {
  margin-top: 6rem;
  margin-left: 5.3rem;
  line-height: 2.2rem;
  text-align: left;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(18) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(18) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(18) > div > div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/trafficMain.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(18) > div > div:nth-child(2) {
  width: 1400px;
  height: 100px;
  padding-top: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(18) > div > div:nth-child(2) > p {
  line-height: 2rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(19) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(19) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(19) > div > div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/traffic-cctv.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(19) > div > div:nth-child(2) {
  width: 1400px;
  height: 120px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(19) > div > div:nth-child(2) > p {
  line-height: 3rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(20) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(20) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(20) > div > div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/traffic-school_zone.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(20) > div > div:nth-child(2) {
  width: 1400px;
  height: 130px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(20) > div > div:nth-child(2) > p {
  line-height: 3rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(21) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(21) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(21) > div > div:nth-child(1) {
  width: 1400px;
  height: 370px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/traffic-hazard.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(21) > div > div:nth-child(2) {
  width: 1400px;
  height: 130px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(21) > div > div:nth-child(2) > p {
  line-height: 3rem;
  font-size: 1.5rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(22) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(22) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(22) > div > div:nth-child(1) {
  width: 2500px;
  height: 600px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/traffic-direction.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(23) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(23) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/traffic-review.png") no-repeat center;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div {
  width: 1500px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(1) {
  width: 1000px;
  height: 90px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/traffic_appendix.png") no-repeat;
  background-size: contain;
  margin-left: 2rem;
  margin-top: 2rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 1000px;
  height: 400px;
  margin-left: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(1) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(1) > div {
  width: 40px;
  height: 40px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/octicon_mark-github-16.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(1) > span:nth-child(3) {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(2) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(2) > div {
  width: 40px;
  height: 40px;
  background: url(" https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_google-drive.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(2) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(2) > span:nth-child(3) {
  width: 980px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  padding-left: 1.9rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(3) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(3) > div {
  width: 40px;
  height: 40px;
  background: url(" https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_google-drive.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(3) > span:nth-child(2) {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(3) > span:nth-child(3) {
  width: 750px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  padding-right: 1.3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(4) {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(4) > div {
  width: 40px;
  height: 40px;
  background: url("https://pserverimg.s3.ap-northeast-2.amazonaws.com/logos_youtube-icon.png") no-repeat;
  background-size: contain;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(4) > span:nth-child(2) {
  width: 120px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(24) > div > div:nth-child(2) > div:nth-child(4) > span:nth-child(3) {
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  padding-right: 1.7rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(25) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(25) > div:nth-child(1) {
  width: 350px;
  height: 500px;
  border: 2px solid white;
  border-radius: 20%;
  margin-right: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(25) > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 600px;
  border: 2px solid white;
  border-radius: 15%;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
#root > div:nth-child(2) > #slider > ul > li:nth-child(25) > div:nth-child(2) > p {
  width: 600px;
  height: 50px;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 2px;
}/*# sourceMappingURL=Planet.css.map */