@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Galmuri14'; //갈무리 14
  // font-weight: 700; //갈무리 11 BOLD
  font-family: 'Galmuri11'; //갈무리 11
  // font-family:'Galmuri9'; //갈무리 9
  // font-family:'Galmuri7'; 갈무리 7
  // font-size: large;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin felx-setting($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

#root {
  @include size(100vw, 100vh);

  & > div:nth-child(1) {
    @include size(100vw, 100vh);
    // @include felx-setting(center, center);
    background: url('/static/img/PlanetBg.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: 100;
  }
  & > div:nth-child(2) {
    @include size(100vw, 100vh);
    background: url('/static/img/HillBg.jpg') no-repeat center;
    background-size: cover;

    & > #slider {
      @include size(100vw, 100vh);
      // @include felx-setting(center, center);
      display: flex;
      position: relative;
      overflow: hidden;
      margin: 20px auto 0 auto;
      border-radius: 4px;

      & > button {
        position: absolute;
        top: 40%;

        z-index: 999;
        display: block;
        padding: 4% 3%;
        @include size(auto, auto);
        background-color: goldenrod;
        color: black;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        opacity: 0.8;
        cursor: pointer;
      }

      & > button:nth-child(1) {
        right: 1%;
      }
      & > button:nth-child(2) {
        left: 0.1%;
      }

      & > ul {
        // @include size(auto, 90vh);
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        & > li {
          position: relative;
          display: block;
          margin: 0;
          padding: 0;
          @include size(1920px, 1920px);
          text-align: center;
          // line-height: 300px;
        }
        & > li:nth-child(1) {
          @include felx-setting(center, center);
          // background-color: red;
          & > div:nth-child(1) {
            @include size(350px, 500px);
            border: 2px solid white;
            border-radius: 20%;
            margin-right: 3rem;
          }
          & > div:nth-child(2) {
            @include felx-setting(center, center, column);
            @include size(1000px, 600px);
            border: 2px solid white;
            border-radius: 15%;
            margin-left: 3rem;
            margin-bottom: 3rem;

            & > p {
              @include size(600px, 50px);
            }
          }
        }
        & > li:nth-child(2) {
          @include felx-setting(center, center);

          & > div {
            @include size(1500px, 550px);
            @include felx-setting(center, center, column);
            border: 2px solid white;
            border-radius: 5rem;
            // text-align: center;
            margin-bottom: 2.4rem;

            & > p {
              font-weight: bold;
              font-size: 2rem;
            }

            & > div {
              @include size(1450px, 450px);
              @include felx-setting(center, center);

              & > div:nth-child(1) {
                @include size(calc(1450px / 3), 440px);
                background: url('/static/img/memo_green.png') no-repeat center;
                background-size: contain;
                // text-align: center;
                & > p {
                  margin-top: 9rem;
                  line-height: 2rem;
                }
              }

              & > div:nth-child(2) {
                @include size(calc(1450px / 3), 440px);
                background: url('/static/img/memo_yellow.png') no-repeat center;
                background-size: contain;

                & > p {
                  margin-top: 5.5rem;
                  margin-left: 9rem;
                  line-height: 2rem;
                  text-align: left;
                }
              }

              & > div:nth-child(3) {
                @include size(calc(1450px / 3), 440px);
                background: url('/static/img/memo_pink.png') no-repeat center;
                background-size: contain;
              }
            }
          }
        }
        & > li:nth-child(3) {
          background-color: blue;
        }
        & > li:nth-child(4) {
          background-color: black;
        }
      }
    }
  }
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 2px;
}
